<div class="container">

    <h1>Stupid coaching</h1>
  <div id="you">
    <p> <%= @question %> </p>
    <p> => You</p>
  </div>

  <div id="coach">
    <p>  <%= @answer %></p>
    <p> =>Your Coach </p>
  </div>

  <%= link_to "Ask again", ask_path %>

</div>
